/* https://coolors.co/palette/ffd9da-ea638c-89023e-30343f-1b2021 */
:root {
  --bg-color: #0e0e0e;
  --tile-bg: #1f1f1f;
  --tile-border: #30343F;
  --tile-none: var(--tile-border);
  --tile-part: #eab308;
  --tile-correct: #22c55e;
  --key-bg:var(--tile-border);
  --text-color: #E5E5E5;
  --error-color: rgb(244 63 94);
  --anim-duration: 0.4s;
  --key-none: #23262F;
  --key-part: var(--tile-part);
  --key-correct: var(--tile-correct);
  --reveal-anim-duration: 1s;

}
html {
  margin: 0px;
  height: 100vh;
  text-align: center;
  font-family: Inter;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  position: relative;
  margin: 0px;
  height: 100vh;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.top-text {
  margin: 10px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.top-text > p {
  margin: 10px;
}
.words-box {
  display: grid;
  margin-top: 20px;
  margin-bottom: 15px;
}
.word-complete,.word-uncomplete,.word-inprogress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  font-size: 24px;
  font-weight: bold;
  padding: min(1.5vh, 1.5vw);
  margin: 2.5px;
  border-radius: 5px;
  background-color: var(--tile-bg);
  border-color:var(--tile-border);
  border-style:solid;
  border-width: 2px;
}
/* @media screen and (min-height: 800px) {
  .tile {
    padding: min(3vh, 3vw);
  }
  .tile > p {
    font-size: 32px;
  }
} */
@keyframes defaultReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50% {
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
  }
}
@keyframes noneReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50% {
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--tile-none);
    border-color: var(--tile-none);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--tile-none);
    border-color: var(--tile-none);
  }
}
@keyframes partReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50% {
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--tile-part);
    border-color: var(--tile-part);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--tile-part);
    border-color: var(--tile-part);
  }
}
@keyframes CReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50% {
    background-color: var(--tile-bg);
    border-color: var(--tile-border);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--tile-correct);
    border-color: var(--tile-correct);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--tile-correct);
    border-color: var(--tile-correct);
  }
}
#tile-reveal-0 {
  animation: defaultReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#tile-reveal-1 {
  animation: noneReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#tile-reveal-2 {
  animation: partReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#tile-reveal-3 {
  animation: CReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
@keyframes textFlip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
p.reveal {
  animation: textFlip var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#tile-1 {
  background-color: var(--tile-none);
  border-color: var(--tile-none);
}
#tile-2 {
  background-color: var(--tile-part);
  border-color: var(--tile-part);
}
#tile-3 {
  background-color: var(--tile-correct);
  border-color: var(--tile-correct);
}
.tile > p {
  margin: 0;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  color: var(--text-color);
}
.keyboard {
  margin-bottom: 50px;
}
.keyboard-row{
  /* position:static; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.key {
  display: flex;
  flex: 1 5 auto;
  flex-basis: 0px;
  min-width: 0;
  max-width: 40px;
  font-weight: bold;
  font-size: 0.750rem;
  padding: 0.750rem;
  height: 20px;
  background-color: var(--key-bg);
  border-radius: 5px;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-top: 0.250rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@keyframes noneKeyReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--key-bg);
    color: var(--text-color);
  }
  50% {
    background-color: var(--key-bg);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--key-none);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--key-none);
  }
}
@keyframes partKeyReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--key-bg);
    color: var(--text-color);
  }
  50% {
    background-color: var(--key-bg);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--key-part);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--key-part);
  }
}
@keyframes CKeyReveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--key-bg);
    color: var(--text-color);
  }
  50% {
    background-color: var(--key-bg);
    color: var(--text-color);
  }
  50.1% {
    background-color: var(--key-correct);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--key-correct);
  }
}

#key-reveal-1 {
  animation: noneKeyReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#key-reveal-2 {
  animation: partKeyReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#key-reveal-3 {
  animation: CKeyReveal var(--reveal-anim-duration);
  animation-fill-mode: forwards;
}
#key-1 {
  background-color: var(--key-none);
}
#key-2 {
  background-color: var(--key-part);
}
#key-3 {
  background-color: var(--key-correct);
}
.key > p {
  margin: 0;
  /* padding-bottom: 10px; */
  text-align: center;
}
img {
  max-height: 22px;
  filter: invert(96%) sepia(1%) saturate(2248%) hue-rotate(202deg) brightness(110%) contrast(80%);
}
@keyframes fadeInOut  {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.error {
  position:absolute;
  left: 50%;
  top: 11%;
  transform: translate(-50%);
  font-weight: 700;
  min-height: 20px;
  width: fit-content;
  background-color: var(--error-color);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0;
}
.error.animate {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes jiggle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-0.5rem, 0);
  }
  50% {
    transform: translate(0.5rem, 0);
  }
  75% {
    transform: translate(-0.5rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.word-inprogress.jiggle {
  animation: jiggle var(--anim-duration)
}
.info-modal,.statistics {
  /* position: absolute; */
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  /* left: 50%; */
  /* top: 10%; */
  /* bottom: 10%; */
  max-height: fit-content;
  /* transform: translate(-50%); */
  border-radius: 10px;
  max-width: fit-content;
  min-width: fit-content;
  background-color: var(--tile-bg);
}
.statistics-overlay,.info-overlay {
  /* outer edge */
  position: fixed;
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
button {
  background-color: rgba(0, 0, 0, 0);
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.s-top-bar,.info-top-bar {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
}
.s-top-bar > p,.info-top-bar > p {
  position: absolute;
  justify-content: center;
  margin: 20px;
  margin-right: 0;
  right: 50%;
  font-weight: 600;
  transform: translate(50%, 0);
  font-size: 18px;
  line-height: 28px;
}
.right-edge-button {
  position: absolute;
  margin: 22px;
  right: 0;
}
.stats-main {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}
.stats-sub {
  display: block;
  margin: 12px;
}
.stats-value {
  font-weight: 800;
  font-size: 42px;
  margin: 0;
}
.stats-title {
  font-weight: 500;
  font-size: 12px;
  margin-top: 0;
}
.game-info {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.bg-title {
  margin-bottom: 5px;
}
.bar-lines-container {
  display: block;
}
.bar-line {
  display: flex;
  align-items: center;
  align-content: center;
}
.bar-line > p {
  margin: 0;
  margin-left: 10px;
  padding: 2px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
  min-width: 14px;
}
.bar-data {
  display: flex;
  margin: 2px;
  align-content: center;
  justify-content:center;
  background-color: var(--tile-border);
  min-width: 20px;
  min-height: 20px;
}
.bar-data > p {
  margin: 0;
  align-self: center;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
}
.statistics-content,.info-content {
  position: relative;
  left: 50%;
  top: 2%;
  bottom: 2%;
  max-height: fit-content;
  transform: translate(-50%);
  border-radius: 10px;
  max-width: fit-content;
}
@keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
.error-page-title {
  font-size: 20vw;
  margin: 0;
}
.error-page-button {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  max-width: fit-content;
  background-color: var(--tile-correct);
  cursor: pointer;
}
.error-page-button > a {
  color: var(--tile-border);
  font-size: 1.5vw;
  text-decoration: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.error-page-button:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.wordle {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
#bar-chart-img,#info-img {
  min-width: 44px;
  max-height: 100%;;
  height:auto;
  padding: 10px;
}
@keyframes imageHover {
  0% {
    transform: scale(1, 1) ;
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
#bar-chart-img:hover,#info-img:hover {
  animation: imageHover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite;
  animation-direction: normal ;
}

.letters{
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -900;
}

@media screen and (max-width: 450px){
  .letters{
    width: 87vw;
    height: 98vh;
  }
}

.letters li{
  position: absolute;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  /* border-color: #DA0037;
  outline-color: #DA0037; */
  /* outline-style:outset;
  outline-width: 5px; */
  animation: lettersAnimation 25s linear infinite;
  bottom: -200px;
  
}

@keyframes lettersAnimation {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000%) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
#play-again-button {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: var(--tile-border);
  max-width: fit-content;
  background-color: var(--tile-correct);
  cursor: pointer;
}
#play-again-button:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.game-finish-status {
  font-weight: 600;
  font-size: 1.125em;
  margin:0;
  margin-top: 10px;
}
.tutorial-section {
  display: flex;
  margin: 5px;
  max-width: 400px;
  flex-wrap: wrap;
}
.tutorial-section > p {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  max-width: 300px;
}
.tutorial-step {
  margin-top: 5px;
  margin: auto;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
}
.tutorial-text {
  margin-top: 2px;
  font-size: 14px;
}
.links {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-bottom: 10px;
  /* bottom:0; */
  /* left:50%; */
  font-size: 12px;
  /* transform: translateX(-50%); */
}
.link {
  color: #E5E5E5;
  height: min-content;
  max-height: fit-content;
  margin: 10px;
}
.links > p {
  margin: 10px;
}
/* @media screen and (max-width: 300px){
  .links{
  margin-top: 25px;
  }
} */