/* https://coolors.co/palette/ffd9da-ea638c-89023e-30343f-1b2021 */

html {
  margin: 0px;
  height: 100%;
  text-align: center;
  font-family: Inter;
  background-color: #1B2021;
  color: #E5E5E5;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  position: relative;
  margin: 0px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.top-text {
  margin: 10px;
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 50px;
}
.top-text > p {
  margin: 10px;
}
.words-box {
  display: grid;
}
.word {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile {
  font-size: 2.5vw;
  font-weight: bold;
  padding: 5px;
  margin: 2.5px;
  border-radius: 10px;
  background-color: #FFD9DA;
}
.tile > p {
  margin: 0;
  min-width: 40px;
  min-height: 40px;
  color: #30343F;
}
